@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;400;500;600;700&family=Roboto&display=swap');

/*----------------------------------------------------------------------------------
    Global properties
----------------------------------------------------------------------------------*/

body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    background-color: lightgray;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header,
main,
footer {
    margin-top: 38px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1480px;
    padding: 0 100px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}

/*----------------------------------------------------------------------------------
    Header properties
----------------------------------------------------------------------------------*/

.logo-top {
    padding: 63px 0 0 0;
    font-size: 80px;
    font-weight: 400;
    color: #4BCAFF;
}

.logo-top-diff-color {
    color: #000000;
}

.nav-top {
    display: flex;
    flex-grow: 1;
    background-color: #35444F;
    justify-content: center;
    margin: 38px 0 0 0;
}

.nav-top > a {
    font-size: 24px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 26px 33px 19px 33px;
    border-left: 1px solid white;
}

.nav-top a:last-child {
    border-right: 1px solid white;
}

.nav-top > a:hover {
    background-color: #222F3A;
}

/*----------------------------------------------------------------------------------
    Main section properties
----------------------------------------------------------------------------------*/

.nav-left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 344px;
    margin: 48px 0 0 0;
    border: 1px solid #000000;
}

.nav-left > a {
    font-size: 27px;
    text-transform: capitalize;
    color: #495863;
    padding: 27px 0 27px 38px;
}

.nav-left > a:hover {
    background-color: #DBDBDB;
    padding-left: 76px;
    color: #35444F;
    transition: padding-left 800ms;
    transition: background-color 300ms;
}

.content {
    box-sizing: border-box;
    width: 884px;
    margin: 48px 0 0 52px;
}

.img-box {
    display: flex;
    justify-content: center;
    width: 884px;
    height: 530px;
    box-sizing: border-box;
    border: 1px solid #000000;
    align-items: center;
}

.image-main:hover {
    transform: scale(1.20);
    transition: transform 1.5s;
}

.content p {
    font-size: 18px;
    line-height: 24px;
    margin: 37px 0 0 0;
}

/*----------------------------------------------------------------------------------
    Footer properties
----------------------------------------------------------------------------------*/

.bottom {
    display: flex;
    flex-grow: 1;
    background-color: #63696e7a;
    margin: 54px 0 30px 0;
}

.nav-bottom {
    font-size: 28px;
    line-height: 28px;
    padding: 20px 0 21px 0;
}

.nav-bottom a {
    color: #0C1927;
    margin: 0 0 0 30px;
    text-transform: capitalize;
}

.nav-bottom a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 6px;
}


.info-bottom {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding: 0 0 0 135px;
    align-self: center;
}